Quiz 1

In [1]:
print(pow(2,3,3))

2

In [2]:
int("3.5")

ValueError: invalid literal for int() with base 10: '3.5'

In [3]:
print(7 // 2 + 3 / 2)

4.5

In [4]:
print(10 % 3)

1

In [5]:
total = 0
for i in range(5):
    total += i
print("Total:", total + "10")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
import math
math.sqrt(-1)

ValueError: math domain error

In [9]:
print(5.5 * 2)

11.0

In [10]:
x = "7"
y = 3
z = int(x) + y
print(z)

10

In [11]:
result = pow(2, 3, 0)
print(result)

ValueError: pow() 3rd argument cannot be 0

In [12]:
numbers = [1, 2, 3, "4", 5]
total_sum = sum(numbers)
print("Sum:", total_sum)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
x = 2.5
print(int(x + 1.5))

4

In [20]:
print(int("100.0"))

ValueError: invalid literal for int() with base 10: '100.0'

In [21]:
lst = [1, 2, 3]
lst[3] = 4
print(lst)

IndexError: list assignment index out of range

In [22]:
5.0 // 2

2.0

In [24]:
str(123)

'123'

In [25]:
int("123.45")

ValueError: invalid literal for int() with base 10: '123.45'

In [26]:
	
int(123.45)

123

In [27]:
float("123")

123.0

In [28]:
str(123)

'123'

In [29]:
float("5")

5.0

In [30]:
a = 10
b = 5
print(a / b * b + a % b)

10.0

In [31]:
str(4.5)

'4.5'

In [32]:
"abc" * 3

'abcabcabc'

In [33]:
4 ** 2 % 5

1

In [38]:
print(5^3)
print(2//3)

6
0

In [39]:
total = 0
for i in range(5):
    total += i
print("Total:", total, "10")

Total: 10 10

In [45]:
def calculate_area(radius):
    area = 3.14 * (radius ** 2)
    return area 

print("Area is:", calculate_area(5))

Area is: 78.5

In [46]:
x = "5" + 2

TypeError: can only concatenate str (not "int") to str

In [47]:
bool(0) + bool(1) * bool(-5)

1